In [31]:
import pandas as pd
import openpyxl

df = pd.read_excel('excel.xlsx')

In [32]:
print(df)

     ȸ· ß÷᰺ Unnamed: 1  Unnamed: 2                Unnamed: 3  Unnamed: 4  \
0         ⵵         ȸ·   ß÷_x000F_                     1td>         NaN
1       NaN        NaN         NaN  烷_x001A__xDEB2__xDFF4_d>     烷ݾ׼/td>
2      2022       1037  2022.10.15                        15  1708576825
3       NaN       1036  2022.10.08                         9  2837323167
4       NaN       1035  2022.10.01                         8  3231193735
...     ...        ...         ...                       ...         ...
1034    NaN          5  2003.01.04                         0           0
1035   2002          4  2002.12.28                         0           0
1036    NaN          3  2002.12.21                         1  2000000000
1037    NaN          2  2002.12.14                         1  2002006800
1038    NaN          1  2002.12.07                         0           0

                    Unnamed: 5 Unnamed: 6                Unnamed: 7  \
0                        2td>        NaN                     3td>
1     烷_x001A__xDEB2__xDFF4_d>    烷ݾ׼/td>  烷_x001A__xDEB2__xDFF4_d>
2                           78   54762078                      2713
3                           64   66499762                      2593
4                           71   60679695                      2848
...                        ...        ...                       ...
1034                         0          0                        42
1035                         1  211191200                        29
1036                         0          0                       139
1037                         2   94866800                       103
1038                         1  143934100                        28

     Unnamed: 8                Unnamed: 9 Unnamed: 10  \
0           NaN                     4td>         NaN
1       烷ݾ׼/td>  烷_x001A__xDEB2__xDFF4_d>     烷ݾ׼/td>
2       1574435                    137021       50000
3       1641337                    133443       50000
4       1512732                    141624       50000
...         ...                       ...         ...
1034    6033800                      3043      166500
1035    7282400                      2777      152100
1036    1174100                      5940       54900
1037    1842000                      3763      100800
1038    5140500                      2537      113400

                   Unnamed: 11 Unnamed: 12 Unnamed: 13  Unnamed: 14  \
0                        5td>         NaN          烷ȣ          NaN
1     烷_x001A__xDEB2__xDFF4_d>     烷ݾ׼/td>           1          2.0
2                      2279500        5000           2         14.0
3                      2231388        5000           2          5.0
4                      2366499        5000           9         14.0
...                        ...         ...         ...          ...
1034                     60434       10000          16         24.0
1035                     52382       10000          14         27.0
1036                     73256       10000          11         16.0
1037                     55480       10000           9         13.0
1038                     40155       10000          10         23.0

      Unnamed: 15  Unnamed: 16  Unnamed: 17  Unnamed: 18 Unnamed: 19
0             NaN          NaN          NaN          NaN         NaN
1             3.0          4.0          5.0          6.0           ʽ
2            15.0         22.0         27.0         33.0          31
3            22.0         32.0         34.0         45.0          39
4            34.0         35.0         41.0         42.0           2
...           ...          ...          ...          ...         ...
1034         29.0         40.0         41.0         42.0           3
1035         30.0         31.0         40.0         42.0           2
1036         19.0         21.0         27.0         31.0          30
1037         21.0         25.0         32.0         42.0           2
1038         29.0         33.0         37.0         40.0          16

[1039 rows x 20 columns]